<style>
    .activateBuscador{
        width: 100% !important;
    }
    .c-buscador{
        background:#fff;
        border-radius:5px;
        overflow: hidden;
        max-width: 30%;
        width: 32px;
        height: 32px;
        transition:all 0.8s ease!important;
        display: flex;
    }
    .input-buscador{
        border:none;
        outline: none !important;
        font-size:11px;
        color:var(--color2);
        padding-left: 4px;
        padding-right: 4px;
        width: 100%;
    }
    @media (max-width: 600px){
        .c-buscador{
            max-width: 50%;
        }
    }
    .c-lupa{
        /* width: 100%; */
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class='align-items-center c-buscador' style='position:absolute;z-index:100;right:0px;margin:2rem 8% 0 0'>
    <div class="clickable" id='btn-lupa-main'>
        <div class='c-lupa'>
            <img src="/public/img/web/lupa1.png" width="15px" height='15px'>
        </div>
    </div>
    <input type="search" class='input-buscador' placeholder='Buscar' id='txt-buscar-main'>
</div>
<script>
    $("#txt-buscar-main").keypress(function(e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if(code==13){
            location.href='/buscador/?buscar='+$(this).val()
        }
    });
    $("#btn-lupa-main").click(function(){
        if($(".c-buscador").hasClass("activateBuscador")){
            // $(".c-buscador").removeClass("activateBuscador")
        }else{
            $(".c-buscador").addClass("activateBuscador")
        }
        // $("#left_panel").toggle("slide", { direction: "left" }, 1000);
    })
</script>