<style>
    footer{
        background-color: #381A30;
        color: #fff;
    }
    .titulo{
        font-size: 14px;
        font-weight: 600;
        color: #fff !important;
    }
    .informe{
        color: rgb(215, 215, 215) !important;
        font-size: 11px;
        font-style: normal;
        padding-left: 10px !important;
        /* overflow: hidden; */
        display: block;
    }
    .informe li{
        list-style: none;
        margin-top: 2px;
    }
    footer a{
        color:white !important;
    }
    .informe a{
        color: rgb(215, 215, 215) !important;
    }

    
    @media (max-width:1250px){
        .esc1{
            width:50px !important;
        }
        .esc2{
            width:50px !important;
        }
        .esc3{
            width:100px !important;
        }
    }
    @media (max-width:1080px){
        .esc1{
            width:45px !important;
        }
        .esc2{
            width:45px !important;
        }
        .esc3{
            width:90px !important;
        }
    }
    @media (max-width:600px){
        .informe{
            padding-left: 0px !important;
        }
        .mv{
            text-align: center !important;
        }
        .mf-content{
            margin-left: 0px !important;
        }
        .footer-mobile{
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .esc1{
            width:50px !important;
            height: 55px !important;
        }
        .esc2{
            width:50px !important;
            height: 55px !important;
        }
        .esc3{
            width:100px !important;
            height: 55px !important;
        }
    }
    @media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
    .esc1{
        width:58px !important;
        margin:10px 0px !important;
    }
    .esc2{
        width:58px !important;
        margin:10px 0px !important;
    }
    .esc3{
        width:115px !important;
        margin:10px 0px !important;
    }
}
</style>
<section>
    <footer style='overflow-y: hidden;'>
        <div class="d-flex justify-content-center pl-4 pr-4 pt-5 pb-5 footer-mobile">
            <div class="w-100" style='max-width: 1600px;'>
                <div class="col-12 row mf-content justify-content-center align-items-center">
                    <!-- --------------------------------------------- -->
                    <div class="col-12 col-sm-3 p-2 row justify-content-center">
                        <div>
                            <img src="/public/img/web/LogoFooter.png" class="mb-4">
                        </div>
                    </div>
                    <!-- --------------------------------------------- -->
                    <div class="d-flex col-12 col-sm-6">
                        <div class="col-6 col-sm-6">
                            <text class='titulo'>
                                <a href='/que_es_la_cocina_tailandesa'>¿Qué es la Cocina Tailandesa?</a>
                            </text>
                            <br>
                            <text class='informe'>
                                <li><a href='/que_es_la_cocina_tailandesa'>La historia de la cocina tailandesa</a></li>
                                <li><a href='/que_es_la_cocina_tailandesa/#iconos_de_la_cocina'>Íconos de la cocina tailandesa</a></li>
                                <li><a href='/que_es_la_cocina_tailandesa/#regional_tailandes'>Cocina regional tailandesa</a></li>
                            </text>
                            <br>
                            <br>
                            <!--  -->
                            <text class='titulo'>
                                <a href='/el_arte_de_la_cocina_tailandesa'>El Arte de la Cocina Tailandesa</a>
                            </text>
                            <br>
                            <text class='informe'>
                                <li><a href='/el_arte_de_la_cocina_tailandesa/#hierbas'>Hierbas tailandesas</a></li>
                                <li><a href='/el_arte_de_la_cocina_tailandesa/#arroz_tailandes'>Arroz tailandés</a></li>
                                <li><a href='/el_arte_de_la_cocina_tailandesa/#frutas_tailandes'>Frutas tailandesas</a></li>
                                <li><a href='/el_arte_de_la_cocina_tailandesa/#tecnicas_de_cocina'>Técnicas de cocina tailandesa</a></li>
                            </text>
                        </div>
                        <!-- --------------------------------------------- -->
                        <div class="col-6 col-sm-6 mb-3">
                            <text class='titulo'>
                                <a href='/#descubre_la_cocina_tailandesa'>Descubra la Cocina Tailandesa</a>
                            </text>
                            <br>
                            <text class='informe'>
                                <a href='/#descubre_la_cocina_tailandesa'>Recetas</a>
                            </text>
                            <br>
                            <br>
                            <!--  -->
                            <text class='titulo'>
                                <a href='/turismo_gastronomico_en_tailandia'>Turismo Gastronómico en Tailandia</a>
                            </text>
                            <br>
                            <text class='informe'>
                                <li><a href='/turismo_gastronomico_en_tailandia'>Comida callejera tailandesa</a></li>
                                <li><a href='/turismo_gastronomico_en_tailandia/#turismo'>Tours gastronómicos en Tailandia</a></li>
                                <li><a href='/turismo_gastronomico_en_tailandia/#guia'>Guía General de Viajes en Tailandia</a></li>
                            </text>
                            <br>
                            <text class='titulo'>
                                <a href='/noticias'>Noticias</a>
                            </text>
                        </div>
                    </div>
                    
                    <!-- --------------------------------------------- -->
                    <div class="col-12 col-sm-3">
                    <div class="d-flex flex-wrap w-100 justify-content-around">
                        <img src="/public/img/web/escudo1.png" class='esc1' style="width: 60px;padding:2px">
                        <img src="/public/img/web/escudo2.png" class='esc2' style="width: 60px;padding:2px">
                        <img src="/public/img/web/escudo3.png" class='esc3' style="width: 120px;padding:2px">
                    </div>
                    <br>
                    <div class='mv' style='text-align: end;'>
                            <!-- --------------------------------- -->
                            <text class='titulo'>
                                Embajada del Reino de Tailandia en Lima
                            </text>
                            <br>
                            <text class='informe'>
                                <li>Dirección: Av. Coronel Portillo 678, San isidro<br>  Lima, Perú</li>
                                <li>Teléfono: +51 637 5620</li>
                                <li><a href='mailto:thaiemb@foodlandia.com.pe?Subject=Amazing_Thailand' target='_blank'>E-mail: thaiemb@foodlandia.com.pe</a></li>
                            </text>
                            <!-- --------------------------------- -->
                            <text class='titulo'>
                                Derechos Reservados - 2020
                            </text>
                            <br>
                            <text class='informe'>
                                <li><a href='http://www.libertac.com' target='_blank'>Desarrollado por Libertac</a></li>
                            </text>
                    </div>
                    </div>
                </div>
            </div>
        </div> 
    </footer>
</section>
<script>
        ScrollReveal().reveal('.headline-bottom',
            {   
                duration:800,
                delay: 200,
                distance: '30%',
                // distance: '100%',
                origin: 'bottom',
                // opacity: null,
                reset: true
            }
        );
        ScrollReveal().reveal('.headline-bottom-fixed',
            {   
                duration:800,
                delay: 200,
                distance: '30%',
                // distance: '100%',
                origin: 'bottom',
                // opacity: null,
                // reset: true
            }
        );
        ScrollReveal().reveal('.headline',
            {   
                duration:400,
                delay: 300,
                reset: true
            }
        );
</script>
