*{
    --h-cintaMenu:100vh !important;
}
.s1{
    height:var(--h-cintaMenu) !important;
}
body{
    background: var(--color1) !important;
    /* color: #ffffff; */
}
.cc-all{
    width: 100%;
    height:var(--h-cintaMenu);
}
.c-img-1{
    width:49%;
    height: var(--h-cintaMenu);
    background-size: cover;
    position: absolute;
    z-index: -1;
}
.c-img-1:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    background-color: var(--color1);
    opacity: 0;
    mix-blend-mode: normal;
}
.c-form{
    width:50%;
    height: 100%;
    padding-top:60px;
    margin-left: 51%;
    z-index: 10;
}
.c-f{
    max-width:450px
}
.txt-1{
    font-weight: bold;
}
.btn-enviar{
    background-color: var(--color5);
    color: var(--color1);
}
@media (max-width: 768px){
    .txt-1{
        font-size: 25px;
    }
    .txt-2{
        font-size: 46px;
        line-height: 46px;
    }
    .txt-3{
        font-size: 13px;
        line-height: 13px;
    }
}
@media (max-width: 750px){
    /* *{
        --h-cintaMenu:500px !important;
    } */
    .c-form{
        margin-left: 0px;
        width:100%;
    }
    .c-img-1{
        width:calc(100% - var(--w-cintaMenu));
    }
    .c-img-1:before {
	    background: #49304d !important;
        opacity: 0.6;
    }
    .c-f{
        max-width:300px
    }
}
    /* .menu-pc{
        max-width: 1000px;
        min-height: 100vh !important;
    }
} */