body{
    background: var(--color1) !important;
}
.c-img-1{
    height: var(--h-cintaMenu);
    /* height: 100%; */
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.c-img-1:before{
    /**content:'';**/
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:var(--color1) ;
    opacity: 0.3;
}
.txt-1,.txt-2{
    font-weight: bold;
}
@media (max-width: 768px){
    .txt-1{
        font-size: 25px;
    }
    .txt-2{
        font-size: 46px;
        line-height: 46px;
    }
    .txt-3{
        font-size: 13px;
        line-height: 13px;
    }
}
.s2{
    background-color: var(--color2);
    overflow: hidden;
}

.t-resultado a{
    color:white;
    font-size: 16px;
    text-transform: uppercase;
}
.txt-resultado{
    color:rgba(255,255,255,0.70);
    margin-bottom: 2rem;
    max-width: 100%;
    /* line-height: 1; */
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}