*{
    --h-s2:55vh;
    --h-s3:40vh;
}
.s1{
    height:var(--h-cintaMenu) !important;
}
.s2{
    height:var(--h-s2);
}
body{
    background: var(--color1) !important;
    color: #ffffff;
}
.txt-1{
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}
.txt-2{
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}
/* .txt-3{
} */
.noupper{
    font-size: var(--tt-1);
    line-height: var(--tt-1);
    font-weight: 500;
}

.cc-txt-1{
    text-align:right;
    position:absolute;
    padding-right:calc(10% - 30px);
    height: var(--h-cintaMenu);
    width: calc(100% - var(--w-cintaMenu));
    /* margin-left: var(--w-cintaMenu); */
}
.c-txt-1{
    max-height: var(--h-cintaMenu);
    max-width: 470px;
}
.cc-txt-2{
    z-index: 2;
    text-align:left;
    position:absolute;
    padding-left:10%;
    height: var(--h-s2);
    margin-right: var(--w-cintaMenu);
}
.c-txt-2{
    max-height: var(--h-s2);
    max-width: 400px;
}
/* --------------------------------- */
.c-icon{
    width:55px;
    height:55px;
    background:var(--color5);
    border-radius: 10px;
}
@media (max-width: 768px){
    .txt-1{
        font-size: 25px;
    }
    .noupper{
        font-size: 25px;
        line-height: 25px;
        font-weight: 500;
    }
    .txt-2{
        font-size: 46px;
        line-height: 46px;
    }
    /* .txt-3{
        font-size: 13px;
        line-height: 13px;
    } */
}
.c-img-1{
    width:50%;
}
.c-img-2{
    margin-top: -35px;
    width:40%;
    max-height:calc(var(--h-s2) + 35px);
    position: absolute;
    z-index: 1;
    right: 0px;
}
.c-img-3{
    min-height: var(--h-s3);
    text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    position: relative;
    padding-left: 8%;
    padding-right: 8%;
}
.c-img-3:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
    mix-blend-mode: normal;
}
.c-img-3 .txt-1, .c-img-3 .txt-3{
	position: relative
}
.titulo-tarjeta{
    font-size: 33px;
    line-height: 35px;
    font-weight: 500;
}
@media (max-width: 1200px){
    .s4{
        flex-wrap: wrap;
        justify-content: space-around !important;
        min-height: 1000px;
    }
    .clo{
        margin-top:30px !important;
    }
    .cmd-1{
        max-width: 100% !important;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-right: 0.5rem !important;
    }
    .ccc1{
        max-width: 400px;
    }
    .ccc2{
        padding-top: calc(80px + 0.5rem) !important;
        max-width: 380px;
    }
}
/* @media (max-width: 1370px){
    .s4{
        padding: 3rem !important;
    }
    .txt-3{
        margin-top: 10px !important;
    }
    .c-txt-1 .txt-3{
        font-size: 16px !important;
        line-height: 18px !important;
    }
    .c-txt-2 .txt-3,.c-img-3 .txt-3{
        font-size: 16px !important;
        line-height: 18px !important;
    }
} */
/* @media (max-width: 1050px){
    .c-txt-1 .txt-3{
        max-width: 360px !important;
        float: right;
    }
} */
/* Portrait*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
    .c-txt-1 .txt-3{
        max-width: 360px !important;
        float: right;
    }
    .txt-3{
        margin-top: 10px !important;
    }
}
/* Landscape*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
    .s4{
        padding: 3rem !important;
    }
    .txt-3{
        margin-top: 10px !important;
    }
    .c-txt-1 .txt-3{
        font-size: 16px !important;
        line-height: 18px !important;
    }
    .c-txt-2 .txt-3,.c-img-3 .txt-3{
        /* max-width: 360px !important;
        float: right; */
        font-size: 16px !important;
        line-height: 18px !important;
    }
}
@media (max-width: 950px){
    .cmd-1{
        max-width: 410px !important;
        flex-wrap: wrap !important;
    }
    .ccc2{
        padding-top: 0px !important;
        max-width: 400px;
        width: 100% !important;
    }
    .ccc1{
        max-width: 400px;
        width: 100% !important;
    }
    .c-txt-1 .txt-3{
        max-width: initial !important;
        float: initial;
        font-size: 14px !important;
        line-height: 16px !important;
    }
    .c-txt-2 .txt-3,.c-img-3 .txt-3{
        font-size: 14px !important;
        line-height: 16px !important;
    }
}
@media (max-width: 900px){
    /* .s4{
        padding: 2rem !important;
    } */
    .c-img-1{
        width:60%;
    }
    .c-img-2{
        margin-top: 0px;
        max-height:var(--h-s2);
    }
}
@media (max-width: 700px){
    .s2,.s1{
        overflow-y: hidden !important;
    }
    .s1{
        flex-wrap: wrap;
        height: 100% !important;
    }
    .c-img-1{
        width:100%;
        max-height:75vh !important;
    }
    .c-img-1 img{
        height:75vh !important;
    }
    .cc-txt-1{
        position: initial !important;
        height: 100% !important;
        padding: 2rem 1rem;
        width: 100%;
    }
    .c-img-2{
        width:100%;
        position: initial !important;
        height: 100% !important;
        max-height: 100% !important;
    }
    .s2{
        display: flex;
        flex-wrap: wrap;
        height: 100% !important;
        flex-direction: column-reverse;
    }
    .cc-txt-2{
        position: initial !important;
        height: 100% !important;
        padding: 1.5rem 1rem;
        width: 100%;
    }
    .s-img-receta{
        margin-top: -15px !important;
        width: 190px !important;
        margin-left: 40px !important;
    }
    .s-receta{
        width:260px !important;
    }
}
@media (max-width: 600px){
    .c-img-1{
        /* width:100%; */
        max-height:50vh !important;
    }
    .c-img-1 img{
        height:50vh !important;
    }
    .cc-iconos{
        padding: 2rem 1rem !important;
    }
    .s4{
        padding: 2rem 1.5rem !important;
    }
    .cmd-1{
        padding-right: 0px !important;
    }
    .clo{
        padding: 0px !important;
        margin-top: 30px !important;
    }
}
@media (max-width: 420px){
  .btn-region{
      min-width: 125px !important;
      font-size: 9.5px !important;
  }
}

/* ------slider recetas ---------*/
.c-botones{
    max-width:250px;
}
.c-botones h2{
    max-width:280px;
}
.c-slide-three{
    height: 550px;
    max-width: 75%;
    min-width: 300px;
}
.c-slide-three .swiper-container {
    width: 100%;
    height: 100%;
}
.c-slide-three .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    width: 305px;
    height: 100%;
    /* margin-right: 10px !important; */
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    /* -webkit-justify-content: center; */
    /* justify-content: center; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* filter: drop-shadow(20px 20px 30px rgba(0, 0, 0, 0.25)); */
  }
.c-slide-three .s-receta{
    width: 270px;
    height: 420px;
    /* height: 100%; */

    z-index:1;
    background-color: var(--color5);
    border-radius: 15px;
    padding: 2rem;
    display: block;
    transition-duration: 400ms;
    transition-property: all;
    /* transition-timing-function:linear; */
    -webkit-transition-property: 400ms;
    -webkit-transition-property: all;
    /* -webkit-transition-timing-function:linear; */
    -moz-transition-property: 400ms;
    -moz-transition-property: all;
    /* -moz-transition-timing-function:linear; */
    /*  */
    /* background: #FDC100; */
        box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
        border-radius: 22px;
    }
/*---------------- HOVER SLIDE ------------------*/
.c-slide-three  .s-receta:hover{
    transform: scale(1.09, 1.1);
    z-index: 1000 !important;
    
}
.c-slide-three  .s-receta:hover .btn-verRecta{
    background: var(--color1);
}
/*---------------- CLICK PAGINATION -------------*/
.c-slide-three .swiper-slide-active .s-receta{
    z-index: 1000 !important;
    transform: scale(1.09, 1.1);
}
.c-slide-three .swiper-slide-active .btn-verRecta{
    background: var(--color1);
}
.c-slide-three .s-detalle{
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.c-slide-three .s-img-logo{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #9c7a0d;
    padding: 2px;
    border-radius: 8px;
}
.c-slide-three .s-img-receta{
    z-index:100;
    position: absolute;
    /* width: 190px; */
    width: 185px;
    height: 185px;
    /* right: 0px; */
    margin-left: 60px;
    transition-duration: 400ms;
    transition-property: all;
    /* transition-timing-function:linear; */
    -webkit-transition-property: 400ms;
    -webkit-transition-property: all;
    /* -webkit-transition-timing-function:linear; */
    -moz-transition-property: 400ms;
    -moz-transition-property: all;
    /* -moz-transition-timing-function:linear; */
}
.c-slide-three img{
    width: 100%;
    height: 100%;
    filter: drop-shadow(20px 20px 30px rgba(0, 0, 0, 0.25));
}
.swiper-pagination-3>.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background: #fff !important;
    margin-left: 2px;
}
.btn-verRecta{
    background: #95750E;
    color:var(--color5) !important;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
.txt-detalle{
    font-size: 12px;
    text-align: start !important;
}
.txt-detalle img{
    width: 15px !important;
    height: 15px !important;
}
.txt-detalle text{
    font-size: 9px;
    color: #95750E;
}
.txt-nameReceta{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    text-align: start !important;
    color: #95750E;
}
.txt-desReceta{
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 12px;
    text-align: justify !important;
    color: #95750E;
}
.c-prev{
    /* width: 50px; */
    padding:15px;
    background-color: var(--color5);
    transition: all 0.3s ease-in-out;
}
.c-next{
    padding:15px;
    position: relative;
}
.c-next:before{
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    content:'';
	position: absolute;
    background-color: var(--color5);
    opacity: 0.75;
    transition: all 0.3s ease-in-out;
}
.c-next svg{
	position: relative;
}
.c-prev:hover{
    opacity: 0.95;
}
.c-next:hover::before{
    opacity: 0.65;
}
.class-auxiliar-img{
    max-width: 100px;
}
@media (max-width: 600px){
    .class-auxiliar-img{
        max-width: 100% !important;
        /* align-content: center !important; */
    }
}
@media (max-width: 760px){
    .c-botones, .c-botones h2{
        max-width: 100%;
    }
}
.s4{
    padding:5rem;
    width: 100%;
    background-color: var(--color2);
}
.btn-region{
    min-width: 140px;
    margin: 3px;
    margin-top: 6px;
    font-size: 10px;
    color: white;
    outline: none !important;
    border: 1px solid white;
    border-radius:5px;
}
.btn-region-activate{
    color: var(--color2);
    outline: none !important;
    background-color: white;
}
.btn-region:hover{
    color: var(--color2);
    outline: none !important;
    background-color: white;
}
.img-region{
    /* filter: drop-shadow(4px 4px 18px 0px rgba(0,0,0,0.75)); */
    position: relative;
}
.img-sm{
    /* content: "+"; */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    transition: all 0.3s ease-in;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size:28px;
    font-weight: 600;
}
.img-sm:hover{
    opacity: 1;
    background-color: rgba(230, 230, 230, 0.2);
}
.img-event{
    opacity: 0.7;
}
.ter-titulo{
    font-size:30px;
    line-height: 29px;
    font-weight: 500;
}
.ter-texto{
    font-size:14px;
    line-height: 17px;
}
.ter-img-content{
    min-height:400px;
    max-width:400px;
    min-width:400px;
    /* height: 100%; */
    width:100%;
}
.ter-img-1{
    max-height:400px;
    min-height:400px;
    max-width:400px;
    min-width:400px;
    height: 100%;
    width:100%;
    -webkit-box-shadow: 10px 10px 24px -5px rgba(0,0,0,0.36);
-moz-box-shadow: 10px 10px 24px -5px rgba(0,0,0,0.36);
box-shadow: 10px 10px 24px -5px rgba(0,0,0,0.36);
}
.ter-img-content2{
    min-width:400px;
    max-width:400px;
    width:100%;
}
.img-event{
    width:126px !important;
    height:90px;

    margin:2px;
    -webkit-box-shadow: 10px 10px 24px -5px rgba(0,0,0,0.36);
-moz-box-shadow: 10px 10px 24px -5px rgba(0,0,0,0.36);
box-shadow: 10px 10px 24px -5px rgba(0,0,0,0.36);
}
.ter-img-content img{
    object-fit: cover;
}
/* .img-region:before{
    content: "+";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    transition: all 0.3s ease-in;

} */
/* .img-region:hover::before{
    background-color: rgba(230, 230, 230, 0.1);
} */

@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) { 
    .c-txt-1 *,.c-txt-2 *,.c-botones,.ccc1 *,.clo * {
        text-align: center !important;
    }
    .c-txt-2 .txt-3{
        margin-top: 10px !important;
    }
    .cc-btn,.ccc2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center !important;
    }
}