*{
    --h-cintaMenu:100vh !important;
}
html{
    overflow-x: hidden;
    /* position: absolute !important; */
    /* width: 100vw !important; */
}
.s3{
    overflow: hidden !important;
}
.tooltip.show{opacity:1!important;}
/* .tooltip-arrow,
.tool-white + .tooltip > .tooltip-inner {background-color: #f00;} */
.tool-white{
    color: white !important;
    text-decoration: none !important;
}
.tooltip-inner {
    color: #fff;
    background: #fff;
}
.s1{
    height:var(--h-cintaMenu) !important;
}
body{
    background: var(--color1) !important;
    /* color: #ffffff; */
    font-weight: 300;
}
.cc-all{
    width: 100%;
    height:var(--h-cintaMenu);
}
.c-img-1{
    width:49%;
    height: var(--h-cintaMenu);
    background-size: cover;
    position: absolute;
    z-index: -1;
}
.c-img-1:before {
	/**content:'';**/
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    background-color: var(--color1);
    opacity: 0.3;
    mix-blend-mode: normal;
}
.c-form{
    width:50%;
    height: 100%;
    /* padding-top:60px; */
    padding: 0px 2rem ;
    margin-left: 51%;
    z-index: 10;
}
.c-f{
    max-width:432px
}
.txt-1, .txt-2{
    font-weight: 500;
    text-transform: uppercase;
}
.btn-enviar{
    background-color: var(--color5);
    color: var(--color1);
}
.txt-el-arte{
    font-size: 25px;
    font-weight: 500;
}
@media (max-width: 900px){
    .txt-el-arte{
        font-size: 25px;
    }
    .txt-1{
        font-size: 30px;
    }
    .txt-2{
        font-size: 60px;
        line-height: 60px;
    }
    .txt-3{
        font-size: 14px;
        line-height: 14px;
    }
}
@media (max-width: 900px){
    .txt-1{
        font-size: 30px;
    }
    .txt-2{
        font-size: 50px;
        line-height: 50px;
    }
    .txt-3{
        font-size: 14px;
        line-height: 14px;
    }
}

@media (max-width: 1300px){
    .slide-delete{
        width:7% !important;
    }
    .tecnicas_de_cocina{
        padding-right:0px !important;
    }
    .c-swiper1{
        /* width: 100%;
        max-width: 600px; */
    }
    .swiper-container{
        position: initial !important;
    }
    .s4 .txt-texto{
        padding-right: 2rem;
    }
    
}
@media (max-width: 1000px){
    .tecnicas_de_cocina{
        flex-wrap:wrap !important;
    }
    .s4{
        flex-wrap: wrap;
    }
    .slide-delete{
        width:8% !important;
    }
    .c-swiper1{
        width: 100%;
        max-width: 550px;
    }
    .swiper-container{
        position: initial;
    }
    .tecnicas_de_cocina{
        padding-right:4rem !important;
    }
    .s4 .txt-texto{
        padding-right: 0px !important;
    }
}
@media (max-width: 800px){
    .slide-delete{
        width:7.5% !important;
    }
}
@media (max-width: 750px){
    .slide-delete{
        width:5.5% !important;
    }
}
@media (max-width: 500px){
    .s1 .txt-1{
       font-size: 25px !important;
    }
    .s1 .txt-2{
        font-size: 45px !important;
    }
    .s1 .txt-3{
        margin-top: 10px !important;
        /* font-size: 13px !important;
        line-height: 14px !important; */
    }
    .cel-l{
        font-size: 10px !important;
        min-width: 95px !important;
    }
    .cel-r{
         font-size: 10px !important;
         min-width: 157px !important;
     }
    .c-comodin-list{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
}
@media (max-width: 400px){
   
}
/* @media (max-width: 750px){
    .c-img-1{
        width:calc(100% - var(--w-cintaMenu));
    }
    .c-img-1:before {
	    background: #49304d !important;
        opacity: 0.6;
    }
    .c-f{
        max-width:300px
    }
} */
.s3{
    background-color: var(--color2);
    padding: 4rem;
}
.btn-prev{
    outline: none !important;
    background-color: var(--color3);
    border: none;
    height: 50px;
    width: 55px;
}
.btn-next{
    outline: none !important;
    position: relative;
    border: none;
    height: 50px;
    width: 55px;
    background-color: var(--color2);

}
.btn-next:before{
    content: "";
    position: absolute;
    background-color: var(--color3);
    opacity: 0.6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.bi{
    position: relative;
}
/* -------------------------------------SWIPER1------------------------------- */
.c-swiper1{
    width: 100%;
    max-width: 620px;
    height: 450px;
    display: block;
}
.swiper-slide-prev{
    /* visibility: hidden; */
}
.swiper-container {
    /* height: 550px;swiper */
    position:absolute;
    overflow: hidden ;
    width: 100%;
    max-width: 750px;
    padding: 0px 50px;
    padding: 5px 10px;
}
.slide-delete{
    position:absolute;
    width:155px;
    z-index:20;
    height:435px;
    margin-left: -2px !important;
    background-color:var(--color2);
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 430px;
    height: 430px;
    /* margin-left: 150px; */
}


@media (max-width: 665px){
    .slide-delete{
        width:3.5% !important;
        display: none;
    }
}
.swiper-container-3d .swiper-slide-shadow-right{
    background-image: initial;
}
.s4{
    padding: 4rem;
    min-height: 720px;
}
.s4 *{
    color: var(--color1) !important;
}
.s4 hr{
    margin: 4px 0px;
    border: 0 none #000000;
    border-top:  1px solid var(--color1) !important;
}
.s4 li{
    font-size: 35px;
    line-height: 45px;
    font-weight: 500;
    list-style: none;
}
.c-img-2{
    background-size: cover;
    background-position: bottom;
}
.num{
    transition: all 0.5s ease-in-out;
}
.num-activate{
    font-size: 22px;
    font-weight: bold;
}
.img-4{
    /* background-size: cover;
    background-position: center; */
    /* padding: 5rem; */
    /* min-height:250px; 
    min-width:250px; */
    min-height:310px; 
    max-height:310px; 
    max-width:500px;
    width: 100%;
    /* min-height: 100% !important; */
    padding: 7px;
    display: block;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}
.img-4 img{
    /* margin-top:-100px; */
    object-fit: cover;
    position: absolute;
    height:310px !important; 
    width:130% !important;
    filter: drop-shadow(20px 20px 40px rgba(0, 0, 0, 0.25));
    -webkit-box-shadow: 10px 10px 24px -5px rgba(0,0,0,0.36);
-moz-box-shadow: 10px 10px 24px -5px rgba(0,0,0,0.36);
box-shadow: 10px 10px 24px -5px rgba(0,0,0,0.36);
}
.s5{
    padding: 4rem;
}
@media (max-width: 1200px){
    .img-4{
        min-height:0px !important; 
        max-height:400px; 
    }
    .img-4 img{
        position: relative;
        height:100% !important; 
        width:100% !important;
    }
    .s5{
        /* padding: 4rem; */
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    /* .s4{
        flex-wrap: wrap;
    } */
    .c-lista-frutas{
        max-width:550px !important;
        min-height:400x !important;
    }
}
@media (max-width: 1220px){
    .c-lista-frutas{
        max-width:550px !important;
        min-height:400x !important;
    }
}


.txt-texto{
    font-size: 14px !important;
    line-height: 17px !important;
}
#txt-slide-texto{
    font-size: 14px;
    line-height: 17px;
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
    .c-form{
        padding-right: 60px !important;
    }
    .c-form .txt-2{
        float: right;
    }
    .c-form .txt-3{
        max-width: 400px !important;
        float: right;
        margin-top: 10px;
        font-size: 16px !important;
        line-height: 18px !important;
    }
    .tx-list{
        font-size: 16px !important;
        line-height: 18px !important;
    }
    .c-comodin-list *{
        font-size: 15px !important;
        line-height: 17px !important;
    }
    .cc-titulo{
        min-width: 300px !important;
        margin-left: 50px !important;
        min-height: 478px !important;
    }
    .s3{
        min-height: 550px !important;
    }
    #txt-slide-texto{
        font-size: 16px !important;
        line-height: 18px !important;
        /* min-height: 300px !important; */
    }
    .s4 .txt-texto{
        font-size: 16px !important;
        line-height: 18px !important;
    }
    .s5 .txt-1{
        margin-top: 20px !important;
    }
    .cs-5{
        max-width: 100% !important;
    }
    .img-4{
        min-height:400px; 
        overflow: hidden;
        /* max-height:310px;  */
        max-width:100%;
        width: 100%;
        /* min-height: 100% !important; */
        padding: 0px;
        display: block;
        margin: 0px !important;
    }
    .img-4 img{
        /* object-fit: none !important; */
        margin-top: -10%;
    }
}
/* Landscape*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
    .tx-list{
        font-size: 16px !important;
        line-height: 18px !important;
    }
    .c-comodin-list *{
        font-size: 15px !important;
        line-height: 18px !important;
    }
    .c-form .txt-3{
        /* max-width: 400px !important;
        float: right;
        margin-top: 10px; */
        font-size: 16px !important;
        line-height: 18px !important;
    }
    #txt-slide-texto{
        font-size: 16px !important;
        line-height: 18px !important;
        /* min-height: 300px !important; */
    }
    .s4 .txt-texto,.txt-arroz{
        font-size: 16px !important;
        line-height: 18px !important;
    }
}
@media (max-width: 700px){
    .s1{
        overflow-y: hidden !important;
    }
    .s1{
        flex-wrap: wrap;
        height: 100% !important;
    }
    .c-img-1{
        position: initial !important;
        width:100% !important;
        max-height:75vh !important;
    }
    .c-img-1 img{
        height:75vh !important;
    }
    .cc-all{
        height: 100% !important;
    }
    /* .cc-txt-1{
        height: 100% !important;
        padding: 2rem 1rem;
        width: 100%;
    } */
    .c-form{
        margin-left: 0px;
        width:100%;
        padding: 2rem 1.5rem ;
    }
}

@media (max-width: 600px){
    .c-img-1{
        /* width:100%; */
        max-height:50vh !important;
    }
    .s2{
        padding: 2rem 1.5rem !important;
    }
    .s2 .txt-1{
        font-size: 17px !important;
        line-height: 20px !important;
    }
    .tecnicas_de_cocina{
        padding: 2rem 1.5rem !important;
    }
    .frutas_tailandes{
        padding: 2rem 1.5rem !important;
    }
    .arroz_tailandes{
        padding: 2rem 1.5rem !important;
    }
}
@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) { 
    .c-form *,.cc-titulo{
        text-align: center !important;
    }
    .c-form .txt-3{
        line-height: 17px !important;
    }
    .c-comodin-list{
        flex-wrap: nowrap !important;
    }
    .c-comodin-list *{
        font-size: 12px !important;
    }
    .cel-r1{
        margin-left: 15px !important;
    }
    .t-oc{
        display: block !important;
    }
    .cs-5 .txt-1{
        display: none !important;
    }
    .img-4{
        min-height:400px; 
        overflow: hidden;
        /* max-height:310px;  */
        max-width:100%;
        width: 100%;
        /* min-height: 100% !important; */
        padding: 0px;
        display: block;
        margin: 0px !important;
        margin-top: 10px !important;
    }
}