body{
    background: var(--color1) !important;
}
.c-img-1{
    height: var(--h-cintaMenu);
    /* height: 100%; */
    /* width: calc(100% - var(--w-cintaMenu)); */
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
/* .c-img-1:before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:var(--color1) ;
    opacity: 0.3;
} */
.txt-1,.txt-2{
    font-weight: bold;
}
.btn-ver-video{
    background-color: var(--color5);
    border-radius: 5px !important;
    color: var(--color1);
    font-size: 15px;
    width: 150px;
    padding: 10px;
}
/* ---------------------SECCION 2------------------- */
.s2{
    background-color: var(--color2);
    min-height:700px;
    display: flex;
    overflow: hidden;
}
.c-titulo-main{
    max-width: 400px !important;
}
.c-img-2{
    min-height:100%;
    /* height: 100%; */
    width:45%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.c-container{
    width:55%;
    min-height: 700px;
}
.titulo-receta{
    font-size: 45px;
    line-height: 45px;
    font-weight: 800;
    color: var(--color1) !important;
    -webkit-text-stroke: 0.5px white;
    text-shadow: -0.5px -0.5px 0 #fff,  
    0.5px -0.5px 0 #fff,
    -0.5px 0.5px 0 #fff,
    0.5px 0.5px 0 #fff;
    text-align: left;
    
}
.subtitulo-receta{
    font-size: 20px;
    font-weight: 500;
    color: var(--color1) !important;
    text-align: left;
    text-transform: uppercase;
}
.c-cuadro{
    max-width: 85%;
    text-align: center;
}
/* --------------------- */
.t-ingredientes{
    color: var(--color1);
    font-size: 35px;
    line-height: 35px;
    font-weight: 500;
    margin:5px 0px;
}
.c-columnas{
    margin-top: 1rem;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.c-ingredientes{
    background-color: var(--color5);
    width: 100%;
    padding: 2rem 4rem;
    max-height: 100%;
}

.l-izquierdo{
    color: var(--color1);
    /* font-weight: 500; */
    max-width: 240px;
    margin-right: 70px;
    font-size: 14px;
    line-height: 17px;
}
.l-derecho{
    color: var(--color1);
    /* font-weight: 500; */
    max-width: 240px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 17px;
}
/* -------------------------------- */
.t-preparacion{
    font-size: 35px;
    line-height: 35px;
    /* font-weight: 500; */
    margin:5px 0px;
}
.c-preparacion{
    /* flex: 1; */
    background-color: var(--color2);
    width: 100%;
    max-height: none;
    /* max-height: 55%; */
    padding:3rem 4rem;
    /* height: 350px; */
    /* flex-grow: 2; */
}
.c-receta-info{
    display: flex;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    margin-left:5%;
    /* z-index:200 */
}
#fm-video[poster]{
    object-fit: cover;
    /* height: 100% !important;
    width: 100% !important; */
}
.video-js {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
}
@media (max-width: 900px){
    .s2{
        min-height:initial;
        flex-wrap: wrap;
    }
    .c-img-2{
        width:100% !important;
        min-height: 250px;
        padding:1rem !important;
    }
    .c-container{
        width:100% !important;;
        min-height: initial;
    }
    .titulo-receta{
        font-size: 35px;
    }
}
@media (max-width: 768px){
    .txt-1{
        font-size: 25px;
    }
    .txt-2{
        font-size: 46px;
        line-height: 46px;
    }
    .txt-3{
        font-size: 13px;
        line-height: 13px;
    }
    .c-img-2{
        width:100% !important;
    }
    .c-cuadro{
        width: 100%;
        max-width: 95%;
    }
    
}

@media (max-width:500px){
    .c-ingredientes{
        padding: 2rem 2rem !important;
    }
    .c-preparacion{
        padding: 2rem 2rem !important;
    }
}

.seccion4{
    background-color: var(--color1);
}
.c-slide-three{
    height: 550px;
    max-width: 75%;
    width: 70%;
    min-width: 300px;
}
.c-slide-three .swiper-container {
    width: 100%;
    height: 100%;
}
.c-slide-three .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    width: 290px;
    height: 100%;
    /* margin-right: 10px !important; */
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    /* -webkit-justify-content: center; */
    /* justify-content: center; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* filter: drop-shadow(20px 20px 30px rgba(0, 0, 0, 0.25)); */
  }
.c-slide-three .s-receta{
    width: 265px;
    height: 390px;
    /* height: 100%; */

    z-index:1;
    background-color: var(--color5);
    border-radius: 15px;
    padding: 2rem;
    display: block;
    transition-duration: 400ms;
    transition-property: all;
    /* transition-timing-function:linear; */
    -webkit-transition-property: 400ms;
    -webkit-transition-property: all;
    /* -webkit-transition-timing-function:linear; */
    -moz-transition-property: 400ms;
    -moz-transition-property: all;
    /* -moz-transition-timing-function:linear; */
    /*  */
    /* background: #FDC100; */
        box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
        border-radius: 22px;
    }
/*---------------- HOVER SLIDE ------------------*/
.c-slide-three  .s-receta:hover{
    /* transform: scale(1.07); */
    transform: scale(1.09, 1.1);
    z-index: 1000 !important;
    
}
.c-slide-three  .s-receta:hover .btn-verRecta{
    background: var(--color1);
}
/*---------------- CLICK PAGINATION -------------*/
.c-slide-three .swiper-slide-active .s-receta{
    z-index: 1000 !important;
    transform: scale(1.09, 1.1);
}
.c-slide-three .swiper-slide-active .btn-verRecta{
    background: var(--color1);
}
.c-slide-three .s-detalle{
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.c-slide-three .s-img-logo{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #9c7a0d;
    padding: 2px;
    border-radius: 8px;
}
.c-slide-three .s-img-receta{
    z-index:15;
    position: absolute;
    /* width: 190px; */
    width: 195px;
    height: 195px;
    /* right: 0px; */
    margin-left: 60px;
    transition-duration: 400ms;
    transition-property: all;
    /* transition-timing-function:linear; */
    -webkit-transition-property: 400ms;
    -webkit-transition-property: all;
    /* -webkit-transition-timing-function:linear; */
    -moz-transition-property: 400ms;
    -moz-transition-property: all;
    /* -moz-transition-timing-function:linear; */
}
.c-slide-three img{
    width: 100%;
    height: 100%;
    filter: drop-shadow(20px 20px 30px rgba(0, 0, 0, 0.25));
}
.swiper-pagination-3>.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background: #fff !important;
    margin-left: 2px;
}
.btn-verRecta{
    background: #95750E;
    color:var(--color5) !important;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
.txt-detalle{
    font-size: 12px;
    text-align: start !important;
}
.txt-detalle img{
    width: 15px !important;
    height: 15px !important;
}
.txt-detalle text{
    font-size: 9px;
    color: #95750E;
}
.txt-nameReceta{
    font-style: normal;
    font-weight: 600;
    font-size: 14.5px;
    line-height: 20px;
    text-align: start !important;
    color: #95750E;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.txt-desReceta{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: start !important;
    color: #95750E;
}
#btn-verVideo{
    transition: all 0.4s ease-in-out;
}
#btn-verVideo:hover{
    background-color: #9b0d43;
}
.vjs-close-button{
    z-index:500 !important;
    position: absolute;
}
@media (max-width: 1400px){
    *{
        /* --width-sombra:550px; */
        --tt-1:30px;
        --tt-2:70px;
        /* --tt-3:16px; */
    }
}

@media (max-width: 1200px){
    .s4-comodin{
        justify-content: space-around !important;
    }
    .c-slide-three{
        width: 100%;
    }
}
@media (max-width: 550px){
    .c-plato-3{
        max-width: 280px !important;
        min-height: 230px !important;

        width: 100% !important;
    }
    .c-slide-second .c-img {
        max-width: 300px !important;
        /* max-width: 400px; */
        width: 100% !important;
        padding-left:10px;
        padding-right:10px;
    }
}
@media (max-width: 800px){
   .d-comodin-platos{
       margin-left: 0px !important;
   }
   .c-slide-three .s-img-receta{
        z-index:15;
        position: absolute;
        /* width: 190px; */
        margin-top: -15px;
        width: 180px;
        height: 180px;
        /* right: 0px; */
        margin-left: 65px;
    }
    .c-ld-2{
        flex-direction: column-reverse
    }
}
@media (max-width: 1000px){

    *{
        --width-sombra:55%;
    }
    .c-c-platos{
        flex-wrap: wrap;
        justify-content: center;
    }
    .c-slide-second .c-platos{
        min-width: 135px;
        min-height: 120px;
        width: 135px;
        height: 120px;
        margin: 5px 5px;
    }
    /* .titulo-3{
        max-width: 175px;
    } */
    .c-slide-second .s-Title{
        font-size: 30px;
        line-height: 30px;
    }
    .c-slide-second .s-text{
        font-size: 12px;
        line-height: 12px;
    }
}
@media (max-width: 750px){
    *{
        --width-sombra:65%;
        --tt-1:20px;
        --tt-2:50px;
        /* --tt-3:13px; */
    }
    .c-slide-second .c-text {
        margin: 3rem;
    }
    .t-gion{
        display: none;
    }
    /* .titulo-3{
        max-width: initial;
    } */
    .fn{
        margin-top:15px;
        margin-left: 20px;
    }
    .c-slide-second{
        padding-bottom: var(--w-cintaMenu);
    }
    .d-3{
        max-width:initial;
    }
}
@media (max-width: 550px){
    *{
        /* --width-sombra:250px; */
        --tt-1:18px;
        --tt-2:34px;
        --tt-3:12px;
    }
    .c-slide-second .c-text {
        margin: 1rem;
    }
    .c-slide-second .s-Title{
        font-size: 20px;
        line-height: 20px;
    }
    .c-slide-second .s-text{
        font-size: 9.5px;
        line-height: 9.5px;
    }
    .c-titulo-main{
        overflow: initial;
    }
}
@media (max-width: 425px){
    .c-slide-first .c-prev,.c-slide-first .c-next, .c-slide-first .capa-c-next{
        width: 50px;
      }
}
@media (max-width: 400px){
    *{
        --width-sombra:200px;
        /* --tt-1:12px;
        --tt-2:35px;
        --tt-3:12px; */
    }
}
@media (max-width: 300px){
    *{
        --width-sombra:200px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
    .c-columnas *,.t-texto{
        font-size: 16px !important;
        line-height: 18px !important;
    }
}
/* Landscape*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
    .c-columnas *,.t-texto{
        font-size: 16px !important;
        line-height: 18px !important;
    }
    .l-derecho{
        max-width: 260px !important;
    }
}

@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) { 
    .t-ingredientes,.t-preparacion{
        text-align: center !important;
    }
}