*{
    --h-cintaMenu:100vh !important;
}
.s1{
    height:var(--h-cintaMenu) !important;
}
html{
    overflow-x: hidden !important;
}
section{
    overflow-x: hidden !important;
}
body{
    background: var(--color1) !important;
    /* color: #ffffff; */
    font-weight: 300;
}
.txt-2{
    font-size: 62px;
    line-height: 62px;
}
.cc-all{
    width: 100%;
    height:var(--h-cintaMenu);
}
.c-img-1{
    width:49%;
    height: var(--h-cintaMenu);
    background-size: cover;
    position: absolute;
    z-index: -1;
}
/* .c-img-1:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    background-color: var(--color1);
    opacity: 0.3;
    mix-blend-mode: normal;
} */
.c-form{
    width:44%;
    height: 100%;
    padding-top:60px;
    margin-left: 51%;
    z-index: 10;
}
.c-f{
    max-width:520px
}
.txt-1, .txt-2{
    font-weight: 400;
}

.c-botones{
    margin-top: -50px;
    position: absolute;

}
.btn-prev{
    outline: none !important;
    background-color: var(--color3);
    border: none;
    height: 50px;
    width: 55px;
}
.btn-next{
    outline: none !important;
    position: relative;
    border: none;
    height: 50px;
    width: 55px;
    background-color: transparent;

}
.btn-next:before{
    content: "";
    position: absolute;
    background-color: var(--color3);
    opacity: 0.6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/* -------------------------SWIPER--------------------- */
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  /* padding-top: 30px;
  padding-bottom: 30px; */
  width: 100%;
  height: 100%;
  height: 180px;
  max-width: 750px;
  filter: drop-shadow(20px 20px 40px rgba(0, 0, 0, 0.4));

}

.swiper-slide {
  width:240px !important;
  height: 170px;
  text-align: center;
  margin-right:25px;
  font-size: 18px;
  background: #fff;
  position: relative;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide:before {
    content:"";
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.5s ease-in-out;
    position: absolute;
}
.c-botones-auxiliar{
    display: none;
}
@media (max-width: 1050px){
    .swiper-slide {
        width:180px !important;
        height: 110px;
    }
    .swiper-container {
        /* width: 100%;
        height: 100%; */
        height: 120px;
        max-width: 600px;
    }
}
@media (max-width: 700px){
    .swiper-slide {
        width:170px !important;
        height: 110px;
    }
    .swiper-container {
        /* width: 100%;
        height: 100%; */
        height: 110px;
        max-width: 550px;
    }
    .swiper-slide:before {
        /* background-color: rgba(40, 40, 40, 0.496); */
    }
    .cct{
        display: none !important;
    }
    .c-f .txt-1{
        line-height: 27px !important;
    }
    .c-botones-auxiliar{
        margin-top: -50px !important;
        display: initial !important;
        /* height:75vh !important; */
    }
    .c-botones{
        display: none !important;
    }
    .s1{
        flex-wrap: wrap;
        height: 100% !important;
    }
    .c-img-1{
        position: initial !important;
        width:100% !important;
        max-height:75vh !important;
    }
    .c-img-1 img{
        height:75vh !important;
    }
    .cc-all{
        height: 100% !important;
        max-height:100% !important;
    }
    .c-form{
        margin-left: 0px;
        width:100%;
        padding: 2rem 1rem !important;
        flex-direction: column-reverse !important;
    }
    .c-f{
        margin-top: 0px !important;
    }
    .sc{
        position: initial !important;
        opacity: 1 !important;
        margin-bottom: 10px !important;
    }
    .cct-movile{
        display: block !important;
    }
}
/* -----------------------END SWIPER------------------- */
.bi{
    position: relative;
}
.c-img-2{
    /* min-width:200px; */
    width:220px;
    height: 180px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-size: cover;
    filter: drop-shadow(20px 20px 40px rgba(0, 0, 0, 0.25));
    /* position: absolute; */
    /* z-index: -1; */
}
@media (max-width:600px){
    .c-img-1{
        max-height:50vh !important;
    }
    .c-img-1 img{
        height:50vh !important;
    }
}
@media (max-width: 650px){
    .swiper-slide {
        width:120px !important;
        height: 100px;
        margin-right:15px !important;
    }
    .swiper-container {
        height: 100px;
        max-width: 400px;
    }
    .s2{
        padding: 2rem 1rem !important;
    }
    .txt-s2-titulo{
        font-size: 25px !important;
        line-height: 28px !important;
    }
    .container-standar{
        padding: 0px !important;
    }
    .c-d-img {
        width: 130px !important;
        height: 170px !important;
    }
    .capa-d-imagenes{
        min-height: initial !important;
    }
}
@media (max-width: 550px){
    .c-d-img {
        width: 100px !important;
        height: 150px !important;
    }
}
@media (max-width: 500px){
    .swiper-slide {
        width:110px !important;
        height: 90px;
        margin-right:15px !important;
    }
    .swiper-container {
        height: 100px;
        max-width: 350px;
    }
    .content-fotos-1{
        margin-top: 20px !important;
    }
    .c-d-img {
        width: 90px !important;
        height: 120px !important;
        margin:2px !important;
    }
}
@media (max-width: 430px){
    .swiper-slide {
        width:100px !important;
        height: 90px;
        margin-right:10px !important;
    }
    .swiper-container {
        /* width: 100%;
        height: 100%; */
        height: 100px;
        max-width: 320px;
    }
}
@media (max-width: 410px){
    .swiper-slide {
        width:90px !important;
        height: 70px;
        margin-right:10px !important;
    }
    .swiper-container {
        /* width: 100%;
        height: 100%; */
        height: 100px;
        max-width: 280px;
    }
}
@media (max-width: 385px){
    .c-d-img {
        width: 80px !important;
        height: 110px !important;
        margin:2px !important;
    }
}
@media (max-width: 850px){
    /* .c-img-1{
        width:calc(100% - var(--w-cintaMenu));
    } */
    .c-form{
        width:100%;
        margin-left: 0%;
        /* padding-left:1.5rem !important;
        padding-right:1.5rem !important; */
    }
    .c-img-2{
        width:150px;
        height: 150px;
    }
}
@media (max-width: 768px){
    .txt-1{
        font-size: 25px;
    }
    .txt-2{
        font-size: 46px;
        line-height: 46px;
    }
    .txt-3{
        font-size: 13px;
        line-height: 13px;
    }
}
@media (max-width: 600px){
   .c-imgs{
       flex-wrap: wrap;
       justify-content: center !important;
   }
}
@media (max-width: 460px){
    .c-img-2{
        width:100px;
        height: 100px;
    }
 }

.s2{
    /* padding: 5px; */
    background-size: cover;
    background-position: center;
    min-height: 300px;
    position: relative;
}
.s2::before{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 1);
    mix-blend-mode: normal;
    opacity: 0.6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.txt-s2-titulo{
    position: relative;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 45px;
    font-weight: 500;
    text-align: center;
}
.btn-ruta{
    position: relative;
    color: white;
    min-width: 100px;
    border: 1px solid white;
    margin:4px;
}
.btn-active:before{
    background-color: rgba(255, 255, 255 ,0.3) !important;
}
.btn-ruta:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.btn-ruta:hover::before{
    background-color: rgba(255, 255, 255 ,0.3) !important;
}
.btn-descargar{
    position: relative;
    border-radius: 5px;
    color: var(--color1);
    background-color: var(--color5);
    padding: 6px;
    text-transform: uppercase !important;
    max-width: 200px;
    width: 100% !important;
    margin: 8px;
    line-height: 13px;
    font-size: 11px;
}
/* ----------------------------------------------- */
.cc-1{
    background-color: #F2F1E9;;
}
.cc-1 *{
    color: var(--color1);
}
.txt-titulo-ruta{
    font-size: 25px;
    line-height: 28px;
    font-weight: 300;
    text-transform: uppercase;
}
.txt-titulo-dia{
    font-size:25px;
    font-weight:bold
}
@media (max-width: 940px){
    .c-d-1{
        flex-wrap: wrap;
    }
    .cc-d-img{
        position: initial;
    }
}
@media (max-width: 540px){
    .cc-d-img{
        flex-wrap: wrap;
        justify-content:  space-around;
    }
}
.cc-2 *{
    color: white;
}
.d-img-1{
    position: absolute;
    /* margin-left: 15%; */
    display: block;
    opacity: 1.0 !important;
    right: 0;
    width: 60%;
    margin-right: 3rem !important;
    height: 400px;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(20px 20px 40px rgba(0, 0, 0, 0.25));
    z-index: -1;
}
#text-titulo-2{
    padding-right:50px;
}
.d-cabezera{
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    /* justify-content: space-around; */
}
.c-cabeza{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.d-cabeza-1{
    width: 100%;
    max-width: 350px;
    margin-bottom: 10px;
}
.d-cabeza-2{
    width: 100%;
    max-width: 800px;
}
.d-cuerpo-1{
    display: flex;
    justify-content: space-around;
}
.d-cuerpo-2{
    display: flex;
    justify-content: space-around;
}
.d-colum-all{
    max-width: 600px;
    text-align: justify;
}
.d-colum-1{
    max-width: 300px;
    text-align: justify;
}
.d-colum-2{
    margin-left: 20px;
    width: 100%;
    max-width: 800px;
    text-align: justify;
}
.d-img-2{
    position: absolute;
    /* margin-left: 15%; */
    /* right: 0; */
    margin-top: 15px;
    width: 75%;
    /* margin-right: 3rem !important; */
    height: 500px;
    /* height: 100%; */
    background-size: cover;
    background-position: center;
    filter: drop-shadow(20px 20px 40px rgba(0, 0, 0, 0.25));
    z-index: -1;
}
.cc-img-2{
    display: block;
}
.d-auxiliar{
    width: 100%;
}
@media (max-width: 800px){
    .content-4-5-6{
        flex-wrap: wrap;
    }
    .cc-img-2{
        height: 400px;
    }

    .d-img-2{
        position: initial;
        /* margin-left: 15%; */
        /* right: 0; */
        margin-top: 15px;
        width: 100%;
        /* margin-right: 3rem !important; */
        height: 100%;
        /* height: 100%; */
        background-size: cover;
        background-position: center;
        filter: drop-shadow(20px 20px 40px rgba(0, 0, 0, 0.25));
        z-index: -1;
    }
    .d-cuerpo-1, .d-cuerpo-2{
        flex-wrap: wrap;
    }

    .d-cabeza-2{
        display: none;;
    }
    .d-colum-2{
        /* margin-left: 20px; */
        width: 100%;
        max-width: 300px;
        text-align: justify;
        margin-left: 0px;
    }
    .d-auxiliar{
        max-width: 300px;
    }
}
@media (max-width: 1000px){
    .d-img-1{
        width: calc(100% - var(--w-cintaMenu));
        opacity: 0.6 !important;
        margin-right:0px !important ;
    }
    #text-titulo-2{
        padding-right:0px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
    .c-form .txt-3{
        font-size: 16px !important;
        line-height: 18px !important;
    }
    .container-texto-2,.texto-ruta-cuerpo{
        font-size: 16px !important;
        line-height: 18px !important;
    }
}
/* Landscape*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
    .c-form .txt-3{
        font-size: 16px !important;
        line-height: 18px !important;
    }
    .container-texto-2,.texto-ruta-cuerpo{
        font-size: 16px !important;
        line-height: 18px !important;
    }
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : portrait) { 
    .c-f *,.container-standar *{
        text-align: center !important;
    }
    #titulo2,.cancel{
        text-align: left !important;
    }
}
