body{
    background: var(--color1) !important;
}
.c-img-1{
    height: var(--h-cintaMenu);
    /* height: 100%; */
    /* width: calc(100% - var(--w-cintaMenu)); */
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
@font-face {
    font-family: "Siamese Katsong";
    src: url("/public/library/font/siamese.ttf");
}
.c-img-1:before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:var(--color1) ;
    opacity: 0;
}
.txt-1,.txt-2{
    font-weight: bold;
}
/* ---------------------SECCION 2------------------- */
.s2{
    background-color: var(--color2);
    /* display: flex; */
    overflow-y: hidden;
}
.c-titulo-main{
    max-width: 400px !important;
}
.cp{
    /* margin: 10px; */
    /* position: relative; */
    /* overflow: hidden; */

}
.som{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
}
.c-info{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}
.som:hover{
    background-color: rgba(0, 0, 0, 0.55);
}
.c1{
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 750px;
    background-color: grey;
    /* background-color: blue; */
}
.c2{
    width: 100%;
    max-width: 1500px;
    height: 100%;
    max-height: 750px;
    background-color: grey;

}
.c3{
    width: 100%;
    max-width: 1500px;
    height: 100%;
    max-height: 370px;
    background-color: grey;
}
.c4{
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 370px;
    background-color: grey;

}
.img-cover{
    display: block;
    /* max-width: 100%;
    max-height: 100%; */
    /* width: 100vh;
    height: 100vh; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.m-fecha{
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: right;
    text-align: right;
}
.m-data{
    position: absolute;
    padding:25px;
    bottom: 0;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    overflow: hidden;
    /* height: 70%; */
}
.mes{
    font-size: 35px;
    line-height: 35px;
    font-weight: 400;
    text-transform: capitalize;
}
.num{
    font-family: "Siamese Katsong";
    font-size: 100px;
    font-weight: 500;
    line-height: 100px;
}

.n-titulo{
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
}
.n-categoria{
    background-color: var(--color5);
    color: var(--color1);
    font-size: 15px;
    margin-bottom: 10px;
    padding: 5px 8x !important;
    /* padding: 5px; */
}
.n-titulo a{
    color: #fff;
    /* text-decoration: none; */
}
@media (max-width: 1000px){
    .cp{
        margin:0px !important;
    }
    .s2{
        /* max-height: 4000px !important;
        overflow-y: auto !important; */
    }
    .s2 div{
        /* height:4300px !important; */
        /* display: block; */
        /* display: block !important; */
        /* height: 100% !important; */
    }
    .comodin{
        flex-wrap: wrap;
        height: 1050px !important;
        min-height: initial !important;
        /* display: block !important; */
        /* height: 600px !important; */
    }
    .c1{
        /* width: 100%; */
        max-width: initial !important;
        height: 100%;
        max-height: 500px;
        /* background-color: blue; */
    }
    .c2{
        /* width: 100%; */
        margin-top:20px !important;
        max-width: initial !important;
        height: 100%;
        max-height: 500px;
    }
    .c3{
        max-width: initial !important;
        height: 100%;
        max-height: 500px;
    }
    .c4{
        margin-top:20px !important;
        max-width: initial !important;
        height: 100%;
        max-height: 500px;
    }
    .cv{
        min-height:400px !important;
        height:400px !important;
    }
}
@media (max-width: 900px){
    .s2{
        /* min-height:5000px; */
        /* height: 100%; */
        /* flex-wrap: wrap; */
    }
    /* .c-img-2{
        width:100% !important;
        min-height: 250px;
        padding:1rem !important;
    } */
}
@media (max-width: 768px){
    .txt-1{
        font-size: 25px;
    }
    .txt-2{
        font-size: 46px;
        line-height: 46px;
    }
    .txt-3{
        font-size: 13px;
        line-height: 13px;
    }
    .c-img-2{
        width:100% !important;
    }
}
@media (max-width: 600px){
    .n-titulo{
        font-size: 28px;
        font-weight: 300;
        line-height: 30px;
    }
}

.cv{
    min-height:400px !important;
}