body{
    background: var(--color1) !important;
}
.c-img-1{
    height: var(--h-cintaMenu);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
@font-face {
    font-family: "Siamese Katsong";
    src: url("/public/library/font/siamese.ttf");
}
.c-img-1:before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:var(--color1) ;
    opacity: 0.3;
}
.txt-1,.txt-2{
    font-weight: 500;
}
/* ---------------------SECCION 2------------------- */
.s2{
    background-color: var(--color2);
    /* display: flex; */
    overflow-y: hidden;
}
.c-titulo-main{
    max-width: 400px !important;
}

.img-cover{
    /* display: block; */
    /* max-width: 100%;
    max-height: 100%; */
    /* width: 100vh;
    height: 100vh; */
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
}
.m-fecha{
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: right;
    text-align: right;
}
.m-data{
    position: absolute;
    padding:25px;
    bottom: 0;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    overflow: hidden;
    /* height: 70%; */
}
.mes{
    font-size: 35px;
    line-height: 35px;
    font-weight: 400;
}
.num{
    font-family: "Siamese Katsong";
    font-size: 100px;
    font-weight: 500;
    line-height: 100px;
}

.n-titulo{
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
}
.n-categoria{
    background-color: var(--color5);
    color: var(--color1);
    font-size: 15px;
    margin-bottom: 10px;
    padding: 5px 8x !important;
    /* padding: 5px; */
}
.n-titulo a{
    color: #fff;
}
.img-cover{
    display: block;
    /* max-width: 100%;
    max-height: 100%; */
    /* width: 50vh;
    height: 50vh; */
    /* width: 100%; */
    /* height: 100% !important;
    width: 100%; */
    object-fit: cover;

}
.container-imagen{
    overflow:hidden !important;
    width: 100%;
    max-width:500px;
    max-height:750px;
    /* height: 100% !important; */
}
.comodin{
    max-width:610px;
}

@media (max-width: 1200px){
    .c-content{
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .comodin{
        max-width:100%;
    }
    .container-imagen{
        margin-top: 20px;
        width: 100%;
        max-width: 500px;
        max-height: 500px;
    }
}
@media (max-width: 768px){
    /* .txt-1{
        font-size: 25px;
    }
    .txt-2{
        font-size: 46px;
        line-height: 46px;
    }
    .txt-3{
        font-size: 13px;
        line-height: 13px;
    } */
}