*{
    --color1:#571845;
    --color2:#900C3E;
    --color3:#C70039;
    --color4:#FF5733;
    --color5:#FDC100;
    --w-cintaMenu:60px;
    /* --h-cintaMenu:630px; */
    --h-cintaMenu:100vh !important;
    font-family: 'Roboto', sans-serif;
    --colorText:white;
    --maxWidth:6000px;
    /* Tamaño de texto */
    --tt-1:35px;
    --tt-2:75px;
    --tt-3:14px;
    color: white;
}
body{
    font-weight: 300 !important;
}
.p-6{
    padding: 6rem;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
/* -------------------------MENU-------------------- */
section{
    margin-left: var(--w-cintaMenu);
    width: calc(100% - var(--w-cintaMenu)) !important;
    /* display: block !important; */
    overflow-x: hidden !important;
}
.menu-pc{
    position: fixed;
    width: 98%;
    /* max-width: 1000px; */
    height: var(--h-cintaMenu);
    background-color: var(--color2);
    z-index: 100;
    border-radius: 0px 12px 12px 0px;
    overflow: hidden;
    box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.25);
    margin-left: -100%;
    transition: all 0.4s ease-in-out;
}
.menu-pc-active{
    margin-left: 0px !important;
}
.c-menu-pc{
    padding-left: var(--w-cintaMenu);
}
.btn-menu-close{
    background: #FFFFFF;
    border-radius: 15px;
    width: 5px;
    height: 100px;
    margin:10px;
}
.c-menu-buscador{
    background:#fff;
    border-radius:5px;
    /* max-width: 30%; */
    /* width: 29px; */
    /* transition:all 0.8s ease!important; */
}
.input-menu-buscador{
    border:none;
    outline: none !important;
    font-size:11px;
    color:var(--color2);
    padding-left: 4px;
    padding-right: 4px;
    width: 100%;
}
#txt-buscar-menu{
    padding:5px;
    font-size:12px;
}
.c-info-menu{
    /* width: 85%; */
    max-height: var(--h-cintaMenu);
}
.c-info-scroll::-webkit-scrollbar{
    width: 8px;
    height: 8px; 
}
.c-info-scroll::-webkit-scrollbar-thumb {
    /* background: #ccc; */
    background-color: #ffffff6e;
    opacity: 0.3 !important;
    border-radius: 5px;
}
.c-info-scroll::-webkit-scrollbar-track {
    background-color: #944060b5;
    opacity: 0.3 !important;
    border-radius: 5px;
}
.c-info-scroll{
    position: relative;
    overflow-y: auto;
    max-height: calc(var(--h-cintaMenu) - 100px);
}
.c-btn-menu-close{
    transition: all 0.2s ease-in-out;
}
.c-btn-menu-close:hover{
    background: #a3134afc;
}
.menu-h-image{
    position: relative;
    background-size: 100% 100%;
    width: 210px;
    height: 400px;
}
.menu-v-image{
    position: relative;
    background-size: 100% 100%;
    height: 200px;
    width: 100%;
}
.menu-hv-image{
    /* position: relative; */
    background-size: 100% 100%;
    /* 140px */
    height: 190px;
    width: 200px;
}
.menu-image{
  border-radius: 10px;
  font-size: 12px;
  margin:5px;
  transition: background-size 0.5s ease-in-out;
  background-position: center;
  /* transform: rotate(90.13deg); */
}
.menu-image:hover{
    background-size: 110% 110%;
}
.menu-image::before {
	content:'';
    position: absolute;
    border-radius: 10px;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    /* background-color: rgba(77, 77, 77, 0.2); */
    transition: all 0.5s linear;
}
.menu-image:hover::before {
    background-color: rgba(55, 55, 55, 0.2);
}
.menu-image a{
    color:white !important;
    position: relative;
    font-weight: 300;
}

/* --------------------------------- */
.clickable{
    cursor: pointer;
}
.bt-menu-main{
    border-radius: 8px;
}
.btn-menu-active{
    background-color: var(--color2);
    border-radius: 8px 0px 0px 8px !important;
    width: 100%;
    margin-left: 8%;
}
.bt-menu{
    border-radius: 8px;
    transition: all 0.2s ease-in;
}
.bt-menu:hover{
    background-color: var(--color2);
}
.c-cintaMenu{
    position: fixed;
    width:var(--w-cintaMenu);
    background-color:var(--color1);
    height:var(--h-cintaMenu) !important;
    z-index: 101;
}
.i-logo{
    width: 35px;
    height: 35px;
}
.i-menu{
    width: 25px;
    height: 25px;
}
.i-social{
    width: 18px;
    height: 18px;
}
.txt-1{
    font-size: var(--tt-1);
    line-height: var(--tt-1);
}
.txt-2{
    font-size: var(--tt-2);
    line-height: var(--tt-2);
}
.txt-3{
    font-size: var(--tt-3);
    line-height: calc(var(--tt-3) + 3px);
    margin-top: 40px;
}
@media (max-width: 1200px){
    *{
        --h-cintaMenu:75vh;
    }
}
@media (max-width: 1015px){
    .menu-pc{
        max-width: 1000px;
        height: 100vh;
    }
    .c-info-menu{
        /* width: 85%; */
        /* height: 100%; */
        max-height: 80vh !important;
    }
    .c-info-scroll{
        /* max-height: 100%; */
        /* padding:5px !important; */
    }
    .menu-h-image{
        width: 145px;
        height: 260px;
    }
    .menu-v-image{
        height: 125px;
        width: 100%;
    }
    .menu-hv-image{
        height: 125px;
        width: 130px;
    }
    .cm-1{
        max-width: 280px !important;
    }
    .cm-2{
        max-width: 140px !important;
    }
}
@media (max-width: 412px){
    
    .c-info-scroll, .c-menu-b{
        /* max-height: 100%; */
        margin-left:5px !important;
    }
    .menu-image{
        margin: 3px !important;
    }
    .menu-v-image{
        height: 110px;
        /* width: 130px; */
    }
    .menu-h-image{
        width: 110px !important;
        height: 230px !important;
    }
    .menu-hv-image{
        height: 109px !important;
        width: 109px !important;
    }
    .cm-1{
        max-width: 230px !important;
    }
    .cm-2{
        max-width: 110px !important;
    }
}
@media (max-width: 363px){
    
    .c-info-scroll, .c-menu-b{
        /* max-height: 100%; */
        margin-left:5px !important;
    }
    .menu-image{
        margin: 3px !important;
    }
    .menu-v-image{
        height: 94px;
        /* width: 130px; */
    }
    .menu-h-image{
        width: 94px !important;
        height: 200px !important;
    }
    .menu-hv-image{
        height: 94px !important;
        width: 94px !important;
    }
    .cm-1{
        max-width: 200px !important;
    }
    .cm-2{
        max-width: 100px !important;
    }
}
@media (max-width: 750px){
    *{
        --h-cintaMenu:80vh;
        --w-cintaMenu:50px;
    }
    .i-logo{
        width: 30px;
        height: 30px;
    }
    .i-menu{
        width: 20px;
        height: 20px;
    }
    .i-social{
        width: 15px;
        height: 15px;
    }
}
@media (max-width: 450px){
    *{
        --h-cintaMenu:300px;
        --h-cintaMenu:70vh;
    }
    .menu-pc{
        width: 100%;
        height: 100vh;
    }
    .menu-h-image{
        width: 130px;
        height: 260px;
    }
}
.cm-1{
    max-width: 420px;
}
.cm-2{
    max-width: 210px;
}