*{
    --width-sombra:43%;
}
.c-slide-first{
    height:var(--h-cintaMenu);
    width:100% !important;
}
html,body {
    position: relative;
    height: 100%;
}
main{
    max-width: var(--maxWidth);
    margin: auto;
}
body {
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    background: var(--color2) !important;
}

.c-slide-first .swiper-slide {
    background-position: center;
    /* background-size:100% 100%; */
    background-size:cover;
}
.c-slide-first .swiper-container{
    max-width: calc(var(--maxWidth) - var(--w-cintaMenu));
    height:var(--h-cintaMenu);
    width:calc(100% - var(--w-cintaMenu));
    /* width: 100%; */
    /* margin-left:var(--w-cintaMenu); */
    position: absolute;
    z-index:1;
}
.capas-slide-1{
    height: var(--h-cintaMenu);
}
.c-slide-first .c-capa-oscura{
  
    position: absolute;
    height: var(--h-cintaMenu);
    width: calc(100% - var(--w-cintaMenu));
    z-index:3;
}
.capa-oscura{
    width: var(--width-sombra);
    height: 100%;
    /* background-color: var(--color1); */
    background-color: #25001ae3;
    
    mix-blend-mode: multiply !important;
    opacity: 0.7;
}
.c-slide-first .capa-info{
    width: 100%;
}
.c-titulo-main{
    max-width: var(--width-sombra);
    width: var(--width-sombra);
    display: flex;
    justify-content: center;
    padding: 2%;
    overflow: hidden;
}
.titulo-1{
    font-size: var(--tt-1);
    line-height: var(--tt-1);
    text-transform: uppercase;
    font-weight: 500;

}
.titulo-2{
    font-size: var(--tt-2);
    line-height: var(--tt-2);
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;

}
.d-3{
    min-height:165px;
    max-height:165px;
    max-width:400px;
}
.titulo-3{
    /* max-width: 200px; */
    font-size: var(--tt-3);
    line-height: calc(var(--tt-3) + 2px);
    /* text-align:justify; */
}
.t-gion{
    line-height:10px;
}
.c-siguiente{
    z-index:5;
    background-color: var(--color2);
    height:var(--w-cintaMenu);
    width: var(--width-sombra);
    color:white
}
.c-prev{
    z-index:5;
    width:60px;
    height: var(--w-cintaMenu);
    background-color:var(--color3);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-next{
    z-index:5;
    width:60px;
    color:white;
    display: block;
    z-index: 1;
    /* position: block; */
}
.capa-c-next{
    mix-blend-mode: multiply;
    background-color:var(--color3);
    width: 60px;
    height:var(--w-cintaMenu);
    opacity: 0.5;
    position: absolute;
    z-index: 1;

}
.fn{
    position: absolute;
    z-index: 2;
    margin-top:20px;
    margin-left: 20px;
}
/* SECCION 2 */
.c-slide-second{
    /* padding-left: 15%;
    padding-top: 100px; */
    color: var(--colorText);
    overflow: hidden;
}

.c-slide-second .c-platos{
    min-width: 230px;
    min-height: 190px;
    width: 220px;
    height: 190px;
    margin: 5px 5px;
    -webkit-box-shadow: 10px 10px 24px -5px rgba(0,0,0,0.36);
-moz-box-shadow: 10px 10px 24px -5px rgba(0,0,0,0.36);
box-shadow: 10px 10px 24px -5px rgba(0,0,0,0.36);
}
.c-slide-second .c-platos img{
    width: 100%;
    height: 100%;
}
.s2-c1{
    max-width: 445px;
    max-height: 220px;
}
.s-Title{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 42px;
}
.s-Text{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}
/* SECCION 3 */
.c-slide-second .swiper-container {
    max-height:1000px;
    width:100%;
}
.c-slide-second .swiper-slide {
    background-position: center;
    background-size:100% 100%;
    /* background-size:cover; */
}
.c-slide-second .c-img{
    min-width: 45%;
    width: 45%;
    /* height: 100% !important; */
}
.c-slide-second .c-text{
    margin: 1rem 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
}

.c-btn2{
    position: absolute;
    /* margin-left: calc(45% - 60px); */
    margin-left: calc(calc(calc(100% - var(--w-cintaMenu)) * 0.45) - 60px);
    z-index: 10;
    margin-top: calc(var(--w-cintaMenu) * -1);
}
.c-btn2 .c-next{
    margin-top: calc(var(--w-cintaMenu) * -1);
    margin-left: 60px;
}
/* .cinta-btns{
    
} */
/* SECCION 4 */
.seccion4{
    background-color: var(--color1);
}
.c-slide-three{
    height: 550px;
    max-width: 75%;
    width: 70%;
    min-width: 300px;
}
.c-slide-three .swiper-container {
    width: 100%;
    height: 100%;
}
.c-slide-three .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    width: 290px;
    height: 100%;
    /* margin-right: 10px !important; */
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    /* -webkit-justify-content: center; */
    /* justify-content: center; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* filter: drop-shadow(20px 20px 30px rgba(0, 0, 0, 0.25)); */
  }
.c-slide-three .s-receta{
    width: 265px;
    height: 390px;
    /* height: 100%; */

    z-index:1;
    background-color: var(--color5);
    border-radius: 15px;
    padding: 2rem;
    display: block;
    transition-duration: 400ms;
    transition-property: all;
    /* transition-timing-function:linear; */
    -webkit-transition-property: 400ms;
    -webkit-transition-property: all;
    /* -webkit-transition-timing-function:linear; */
    -moz-transition-property: 400ms;
    -moz-transition-property: all;
    /* -moz-transition-timing-function:linear; */
    /*  */
    /* background: #FDC100; */
        box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
        border-radius: 22px;
    }
/*---------------- HOVER SLIDE ------------------*/
.c-slide-three  .s-receta:hover{
    /* transform: scale(1.07); */
    transform: scale(1.09, 1.1);
    z-index: 1000 !important;
    
}
.c-slide-three  .s-receta:hover .btn-verRecta{
    background: var(--color1);
}
/*---------------- CLICK PAGINATION -------------*/
.c-slide-three .swiper-slide-active .s-receta{
    z-index: 1000 !important;
    transform: scale(1.09, 1.1);
}
.c-slide-three .swiper-slide-active .btn-verRecta{
    background: var(--color1);
}
.c-slide-three .s-detalle{
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.c-slide-three .s-img-logo{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #9c7a0d;
    padding: 2px;
    border-radius: 8px;
}
.c-slide-three .s-img-receta{
    z-index:15;
    position: absolute;
    /* width: 190px; */
    width: 195px;
    height: 195px;
    /* right: 0px; */
    margin-left: 60px;
    transition-duration: 400ms;
    transition-property: all;
    /* transition-timing-function:linear; */
    -webkit-transition-property: 400ms;
    -webkit-transition-property: all;
    /* -webkit-transition-timing-function:linear; */
    -moz-transition-property: 400ms;
    -moz-transition-property: all;
    /* -moz-transition-timing-function:linear; */
}
.c-slide-three img{
    width: 100%;
    height: 100%;
    filter: drop-shadow(20px 20px 30px rgba(0, 0, 0, 0.25));
}
.swiper-pagination-3>.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background: #fff !important;
    margin-left: 2px;
}
.btn-verRecta{
    background: #95750E;
    color:var(--color5) !important;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
.txt-detalle{
    font-size: 12px;
    text-align: start !important;
}
.txt-detalle img{
    width: 15px !important;
    height: 15px !important;
}
.txt-detalle text{
    font-size: 9px;
    color: #95750E;
}
.txt-nameReceta{
    font-style: normal;
    font-weight: 600;
    font-size: 14.5px;
    line-height: 20px;
    text-align: start !important;
    color: #95750E;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.txt-desReceta{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: start !important;
    color: #95750E;
}
#btn-verVideo{
    background-color: #9b0d43;
    transition: all 0.4s ease-in-out;
}
#btn-verVideo:hover{
    background-color: var(--color2);
}
@media (max-width: 1400px){
    *{
        /* --width-sombra:550px; */
        --tt-1:30px;
        --tt-2:70px;
        /* --tt-3:16px; */
    }
}

@media (max-width: 1200px){
    .s4-comodin{
        justify-content: space-around !important;
    }
    .c-slide-three{
        width: 100%;
    }
}
@media (max-width: 550px){
    .c-plato-3{
        max-width: 280px !important;
        min-height: 230px !important;

        width: 100% !important;
    }
    .c-slide-second .c-img {
        max-width: 300px !important;
        /* max-width: 400px; */
        width: 100% !important;
        padding-left:10px;
        padding-right:10px;
    }
}
@media (max-width: 900px){
     .c-slide-second .c-text{
         margin: 1rem 3rem;
     }
 }
@media (max-width: 800px){
   .d-comodin-platos{
       margin-left: 0px !important;
   }
   .c-slide-three .s-img-receta{
        z-index:15;
        position: absolute;
        /* width: 190px; */
        margin-top: -15px;
        width: 180px;
        height: 180px;
        /* right: 0px; */
        margin-left: 65px;
    }
    .c-ld-2{
        flex-direction: column-reverse
    }
    .c-slide-second .c-text{
        margin: 1rem 3rem;
    }
}
@media (max-width: 1000px){

    *{
        --width-sombra:55%;
    }
    .s4-comodin{
        flex-wrap: wrap;
    }
    .c-c-platos{
        flex-wrap: wrap;
        justify-content: center;
    }
    .c-slide-second .c-platos{
        min-width: 135px;
        min-height: 120px;
        width: 135px;
        height: 120px;
        margin: 5px 5px;
    }
    /* .titulo-3{
        max-width: 175px;
    } */
    .c-slide-second .s-Title{
        font-size: 30px;
        line-height: 30px;
    }
    .c-slide-second .s-text{
        font-size: 12px;
        line-height: 12px;
    }
}
@media (max-width: 750px){
    *{
        --width-sombra:65%;
        --tt-1:20px;
        --tt-2:50px;
        /* --tt-3:13px; */
    }
    .c-slide-second .c-text {
        margin: 3rem;
    }
    .t-gion{
        display: none;
    }
    /* .titulo-3{
        max-width: initial;
    } */
    .fn{
        margin-top:15px;
        margin-left: 20px;
    }
    .c-slide-second{
        padding-bottom: var(--w-cintaMenu);
    }
    .d-3{
        max-width:initial;
    }
}
@media (max-width: 550px){
    *{
        /* --width-sombra:250px; */
        --tt-1:18px;
        --tt-2:34px;
        --tt-3:12px;
    }
    .c-slide-second .c-text {
        margin: 1rem;
    }
    .c-slide-second .s-Title{
        font-size: 20px;
        line-height: 20px;
    }
    .c-slide-second .s-text{
        font-size: 9.5px;
        line-height: 9.5px;
    }
    .c-titulo-main{
        overflow: initial;
    }
}
@media (max-width: 425px){
    .c-slide-first .c-prev,.c-slide-first .c-next, .c-slide-first .capa-c-next{
        width: 50px;
      }
}
@media (max-width: 400px){
    *{
        --width-sombra:200px;
        /* --tt-1:12px;
        --tt-2:35px;
        --tt-3:12px; */
    }
}
/* @media (max-width: 370px){
    *{
        --width-sombra:190px;

    }
}
@media (max-width: 350px){
    *{
        --width-sombra:190px;

    }
}
@media (max-width: 330px){
    *{
        --width-sombra:185px;
    }
} */
@media (max-width: 300px){
    *{
        --width-sombra:200px;
    }
}

@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) { 
    .c-descubre{
        padding: 0px !important;
        width: 100%;
    }
    .swiper-pagination-3{
        /* display: flex;
        justify-content: center; */
    }
    .esc1{
        width:50px !important;
    }
    .esc2{
        width:50px !important;
    }
    .esc3{
        width:90px !important;
    }
}