*{
    font-family: 'Roboto', sans-serif;
}
.nav-item *{
    font-size:15px !important;
}
.table thead *{
    text-align:center;
    vertical-align:middle !important;
    text-transform:uppercase;
}
.table tbody *{
    vertical-align:middle !important;
}
.capa-oscura{
    width:100vw;
    height:100vh;
    position:fixed;
    background-color: rgb(0,0,0,0.4);
    display:none;
    z-index: 2000 !important;
}
.ulMenu{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.ulMenu>li>a{
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    background-color: rgba(62, 72, 116, 0.1);
    /* border-bottom: 1px solid lightgray; */
    display: flex;
    align-items: center;
    color: #000;
}
.ulMenu>li>a>svg{
    margin-right: 5px;
    margin-top: -3px;
    font-size: 13px;
}
.ulMenu>li>a:hover{
    background-color: rgba(62, 72, 116, 0.15);
    /* background-color: rgba(62, 72, 116, 0.1); */
}
.ulMenu li{
    border-bottom: 1px solid lightgray;
}
.ulMenu>li>ul{
    padding: 0px;
}
.clickable{
    cursor: pointer;
}
#u2,#u3,#u4{
    display: none;
}

.a-option{
    background-color: #900C3E !important;
    color:#fff !important;

}
.a-option *{
    color:#fff !important;
}