#pag1,#pag2,#pag3{
    min-height: 30px;
    margin-bottom:12px;
    margin-top:8px;
}
.container-image1{
    height: 130px;
    width: 130px;
    background-color: rgba(0,0,0,0.3);
    overflow: hidden;
}
.container-image1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-image2{
    height: 130px;
    width: 160px;
    background-color: rgba(0,0,0,0.3);
    overflow: hidden;
}
.container-image2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-image3{
    height: 130px;
    width: 130px;
    background-color: rgba(0,0,0,0.3);
    overflow: hidden;
}
.container-image3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-image4{
    height: 130px;
    width: 130px;
    background-color: rgba(0,0,0,0.3);
    overflow: hidden;
}
.container-image4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-image5{
    height: 130px;
    width: 130px;
    background-color: rgba(0,0,0,0.3);
    overflow: hidden;
}
.container-image5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ellipsis{
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.custom-file{
    overflow: hidden;
}
.custom-file label{
    line-height: 20px !important;
}

